.DS_Store
.vscode
.vscode/*
.venv

__pycache__
__pycache__/*
.pytest_cache

_*
!__init__.py

*.pt
*.pth
*.onnx
*.keras
*.zip
.env

mlruns
logs
logs/*

logging/*
models/*

# ignore large datasets
Datasets/eng_afr/afr.txt
Datasets/eng_afr/eng.txt
Datasets/eng_afr/README.Bilingual.English-Afrikaans.txt
